html,
body {
  height: 100%;
  background: #000;
}

body {
  margin: 0;
  color: #fff;
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  /* ✅ wichtig für Footer: */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}